.orenge{
    background-color: #fce8e8;
    border-radius: 10px;
}
.carosul{
    padding: 20px;
}
.container{
    margin-bottom: 100px;
}
.buy-now{
    
    background-image: linear-gradient( to bottom, rgba(235, 97, 138, 0.863) 0%, rgba(255, 0, 0, 0.603) 100%);
    color: white;
}

.cat1, .cat2, .cat3{
    border-radius: 10px;
    padding: 10px 30px;
}

.cat1{
    background-image: linear-gradient(to left,rgb(235, 235, 114),rgb(235, 101, 101) );
}
.cat2{
    background-image: linear-gradient(to left,rgb(235, 101, 101), rgb(250, 96, 250));
}
.cat3{
    background-image: linear-gradient(to left,rgb(81, 69, 248), rgb(64, 16, 153));
}
.catagory img{

    width: 100px;
}
.catagory h1{
    color: white;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    border: none;
    background-color: white;
}
#subcribe{
    height: 300px;
}
footer{
    text-align: center;
}